@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: #222;
}

::-webkit-scrollbar-thumb {
	background: #5555;
	border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.typing-animation {
    position: relative; 
 
}

.typing-animation h1::after{
	content: "";
	left: 0;
	height: 100%;
	width: 100%;
	position:absolute;
	background-color: #232323;
	border-left: 2px solid #ffc86b; 
    animation: typing 3s steps(8) infinite;
}

@keyframes typing {
	40%,
	60% {
		left: calc(100% + 10px)
	}
	100% {
		left: 0
	}
}
